:root {
    --image-card: hsl(246, 80%, 60%);
    --works-card: hsl(15, 100%, 70%);
    --play-card: hsl(195, 74%, 62%);
    --study-card: hsl(348, 100%, 68%);
    --exercise-card: hsl(145, 58%, 55%);
    --social-card: hsl(263, 64%, 52%);
    --selfcare-card: hsl(43, 84%, 65%);
    --background: hsl(226, 43%, 10%);
    --main-card-color: hsl(235, 46%, 20%);
    --hover-card: hsl(236, 41%, 34%);
    --text-card-period: hsl(235, 45%, 61%);
    --text-pale-blue: hsl(236, 100%, 87%);
    --white-text: hsl(0, 0%, 100%);
}